.modal-body.profile{
    display:flex;
    align-items: center;
}

.modal-body img{
    width: 100px;
    margin: 20px;
    padding:0;
}

.modal-body img:hover{
    background-color: aliceblue;
    opacity: 0.5;
}

.modal-header button{
    border: none;
    background: none;
}

button{
    position: relative;
  }
button::after{
    content: attr(data-title);
    position: absolute;
    background: #444;
    color: #fff;
    left: 0;
    top: 100%;
    font-size: 12px;
    width: auto;
    padding: 5px;
    border-radius: 4px;
    transition: 300ms;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
  }
button:hover::after{
    opacity: 1;
    transform: translateY(5px);
  }