html, body{    
    background-color: #ff4343;
}

.login-card{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;  
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.login-card img {
    width: 500px;
}

.login-card-header {
    padding: 20px;
}

.login-card-body{
    padding: 0 50px;
}

.login-card-body h2{
  padding: 10px;
  color: #ff4343;
}

.form-group {
    position: relative;
    margin: 1.5rem 0;
  }
  
.username,
.password {
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 100%;
}
  
  .username + label,
  .password +label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
    color: #ccc;
    padding: 0 0.125rem;
    transition: 0.4s;
  }
  
  .username:focus,
  .password:focus {
    border-color: #f64545;
  }
  
  .username:focus + label,
  .username:not(:placeholder-shown) + label{
    top: 0;
    transition: 0.3s;
    background-color: #fff;
    color: #f64545;
    font-size: 12px;
  }
  .password:focus + label,
  .password:not(:placeholder-shown) + label {
    top: 0;
    transition: 0.3s;
    background-color: #fff;
    color: #f64545;
    font-size: 12px;
  }
  .login-card input[type="checkbox"]{
    border-radius: 50%;
}

i{
  color: #ccc;
  cursor: pointer;
  position: absolute;
  transform: translate(0, -50%);
  right: 10px;
  top: 50%;
  /* opacity: 0.5; */
}


/* .username,
.password {
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    width: 100%;
} */


/* input[type="text"] {
    width: 400px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
}

input[type="password"] {
    width: 400px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
} */

