/*------------------------------------------------------------------
[1. Table] 
*/
.table{
    margin: 50px 10px;
}


/*------------------------------------------------------------------
[2. Table button] 
*/

/* .table input{
    background: none;
    border: none;
    color: green;
    margin: 0;
    padding: 0;
} */

/* .table input:hover{
    background-color: #39465e;
    opacity: 0.5; 
} */
.table a{
    color: rgb(67, 67, 251);
}

.table .material-icons{
    opacity: 0.5;

}

