body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

.header{
    top:0;
    padding: 0 .5rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    position: sticky;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    display: flex;
    align-items: center; 
    height: 40px; 


}

.menu-btn{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 0;
    background: none;
    border: none;
}

.menu-bth:hover{
    background-color: #000000;
}

.header .soramitsu {
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.header .menu-icon{
    width: 30px;
    height: 30px;
}

.sidebar{
    width: 50px;
    border: 1px solid;
    margin-top: -1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
}

.sidebar-list-item{
    width: 40px ;
}

.container{
    display: flex;
}

.content{
    margin: 1rem;
}

.icons{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}