body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;

}

header{
    top:0;
    padding: 10px;
    background-color: #ffffff;
    position: sticky;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;  

}

.menu-btn{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 0;
    background: none;
    border: none;
}

.menu-bth:hover{
    background-color: #000000;
}

.header .soramitsu {
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}
.header .menu-icon{
    width: 30px;
    height: 30px;
}

.sidebar.open {
    
}

.sidebar{
    width: 50px;
    height: 100%;
    border: 1px solid;
}