/*------------------------------------------------------------------
* Bootstrap Simple Admin Template
* Version: 3.0
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-------------------------------------------------------------------*/
#sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    min-width: 75px;
    max-width: 75px;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    border-right: 1px solid #e6ecf5;
    /* box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%); */
    z-index: 1030;
}

#sidebar.active {
    min-width: 250px;
    max-width: 250px;
    /* test */
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    border-right: 1px solid #e6ecf5;
    /* box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%); */
    z-index: 1030;
}

.after-collape, .before-collape {
    display: none;
}

#sidebar .sidebar-header {
    padding: .4rem 1rem;
    border-bottom: 1px solid rgba(101, 109, 119, .16);
    max-height: 55px;
}

#sidebar ul.components {
    padding: 0 0;
}

#sidebar ul {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    display: block;
    cursor: pointer;
}

#sidebar ul li a .fas {
    min-width: 20px;
    margin-right: 5px;
    text-align: center;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
    color: #ffffff;
    background: #ccc;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: inherit;
}

#sidebar ul ul a {
    font-size: 1rem;
    background: #EEEEEE;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: none;
}

@media (max-width: 768px) {
    #sidebarCollapse span {
        display: none;
    }
}

.sidebar-header img{
    width: 200px;
}

.item{
    color:white;
    background: #f55252;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%)
}

.fixed-bottom{
    width: 75px;
    background: #f55252;
}

.fixed-bottom.after-collape{
    width: 250px;
}

.badge {
    color: #fff;
    background-color: #ff6a6a;
    padding: 3px 5px;
    margin-left: 0.5rem;
    border-radius: 50%;
}
.sidebartext{
    display: none;
}
.sidebartext.after-collape{
    display: inline-block;
    animation: fadeInAnimation ease 0.7s;
    padding-top: 0.15rem;
    font-weight: 200;
    margin-left: .8rem;
}
.home-section{
    position: relative;
    background: #f4f6fa ;
    min-height: 100vh;
    top: 0;
    left: 75px;
    width: calc(100% - 75px);
    transition: all 0.3s ease;
    z-index: 2;
  }
.home-section.active{
    left: 250px;
    width: calc(100% - 250px);
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#logoutText{
    font-size: 1.2rem;
}